@black: #000;
@black-30: rgba(0, 0, 0, .3);
@black-blue: #000101;
@dark-blue: #1d2631;
@dark-pink: #d22856;
@green: #3dc644;
@grey-5: darken(@white, 5%);
@grey-10: darken(@white, 10%);
@grey-blue: lighten(desaturate(@navi, 16%), 11%);
@navi: #283645;
@orange: #f25b26;
@white: #fff;

@html-size-base: 10px;

@font-logo: "Gotham Rounded Book", Arial, sans-serif;
@font-main: "Open Sans", Arial, sans-serif;