.download {
    min-height: 243px;
    padding-top: 28px;
    background-color: @dark-blue;
    
    &__wrap {
        width: 280px;
        .wrapper;
    }
    
    &__btn {
        .block;
        margin-bottom: 31px;
        padding: 15.5px 0;
        border: 3px solid @white;
        .bold;
        font-size: 1.8rem;
        line-height: 1.8rem;
        .center;
        border-radius: 50px;
    }
    
    &__link-wrap {
        width: 205px;
        .wrapper;
        font-size: 0;
    }
    
    &__link {
        .i-block;
        margin-right: 30.5px;
        margin-bottom: 25px;
        vertical-align: bottom;
        .hidden-text;
        
        &-apple {
            width: 46px;
	        height: 57px;
            .sprite;
            background-position: 0 0;
        }
        
        &-android {
            width: 42px;
	        height: 47px;
            .sprite;
            background-position: -73px -4px;
        }
        
        &-win-mobile {
            width: 44px;
	        height: 42px;
            .sprite;
            margin-right: 0;
            background-position: -148px -5px;
        }
    }
    
    &__text {
        .center;
        font-size: 1.4rem;
        color: @white;
        line-height: 2.4rem;
        .light;
    }
}