.information {
    min-width: 320px;
    padding-top: 7px;
    
    &__wrap {
        .wrapper;
    }
    
    &__header {
        padding-bottom: 30px;
        text-align: center;
        font-weight: 300;
        font-size: @font-size-h1;
        line-height: @line-height-base + .6;
    }
        
    span {
        display: block;
        margin-top: 30px;
    }    
}

.features {
    position: relative;
    padding-top: 50px;
    background: @grey-f2;
    overflow: hidden;
    
    &:before {
        position: absolute;
        top: -50px;
        width: 100%;
        height: 70px;
        background: @white;
        content: '';
        transform: skewY(-5.6deg);
    } // В резиновой верстке уголки с помощью псевдоэлементов не прокатили. Буду делать SVG
    
    &__wrap {
        .wrapper;
        display: flex;
        flex-direction: column;
    }
    
    &__item {
        text-align: center;
    }
        
    h1 {
        margin: 28px 0 5px 0;
        font-size: @font-size-h1 - .6;
        font-weight: bold;
    }
    
    &__image {
        height: 278px;
        margin-top: 33px;
        background: url("../img/TEMP-iphone-hi.png") 50% bottom no-repeat;
    }
}

@media(min-width: 700px) and (max-width: 1200px) {
    
    .information__header {
        padding-bottom: 0;
        font-size: @font-size-h1 + 1.6;
        line-height: @line-height-base + 2.6;
        
        span:last-child {
            margin-top: 0;
            padding: 0 23%;
        }
    }
    
    .features {
    
        &__wrap {
            flex-direction: row;
            justify-content: space-between;
        }

        &__content {
            width: 50%;
            padding-top: 40px;
            order: 2;
        }

        &__item {
            text-align: left;
        }

        &__image {
            width: 43%;
            height: 482px;
            margin: 0;
            background: url("../img/TEMP-iphone-hi-700.png") center bottom no-repeat;
            order: 1;
        }
    }
}