.information {
    min-height: 963px;
    padding-top: 7px;
    
    &__wrap {
        .wrapper;
    }
    
    &__header {
        padding-bottom: 30px;
        text-align: center;
        font-weight: 300;
        font-size: @font-size-h1;
        line-height: @line-height-base + .6;
    }
        
    span {
        display: block;
        margin-top: 30px;
    }    
}

.features {
    position: relative;
    min-height: 735px;
    padding-top: 50px;
    background: url("../img/TEMP-iphone-hi.png") 50% 108% no-repeat,
                @grey-f2;
    overflow: hidden;
    
    &:before {
        position: absolute;
        top: -15px;
        width: 320px;
        height: 31px;
        background: @white;
        content: '';
        transform: skewY(-5.6deg);
    }
    
    &__wrap {
        .wrapper;
    }
    
    &__item {
        text-align: center;
    }
        
    h1 {
        margin: 28px 0 5px 0;
        font-size: @font-size-h1 - .6;
        font-weight: bold;
    }
}