.wrapper {
    padding: 0 7%;
}

.clearfix() {
    display: table;
    clear: both;
    content: "";
}

.hidden-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.sprite {
	background: url("../img/sprites.png") no-repeat;
}