.wrapper {
    margin: 0 auto;
}

.clearfix() {
    display: table;
    clear: both;
    content: "";
}

.block {
    display: block;
}

.i-block {
    display: inline-block;
}

.bold {
    font-weight: bold;
}

.light {
    font-weight: 300;
}

.center {
    text-align: center;
}

.hidden-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.sprite {
	background: url("../img/sprites.png") no-repeat;
}