.page-header {
    position: relative;
    min-width: 320px;
}

.top-header {
    position: absolute;
    width: 100%;
    background: @grey-00--a30;
    
    // Вид .top-header при раскрытом меню main-nav (добавляется модификатор expand):
    &--expand {
        min-height: 69px;
        border-bottom: 1px solid @black-blue;
        background-color: @navi;
    }
    
    &__wrap {
        .wrapper;
        min-height: 66px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

//Временное оформление, потом сделаю из лого SVG
    
.top-header__logo {
    
    &-text {
        display: inline-block;
        color: @white;
        font-family: "GothamRounded-Book", Arial, sans-serif;
        font-size: @font-size-base + 1.8;
        line-height: @line-height-base + .8;
    }
    
    &-image {
            display: none;
        }
}

.top-header__hamburger {
    position: relative;
    cursor: pointer;

    span,
    span:before,
    span:after {
        display: block;
        height: 3px;
        width: 50px;
        background: @white;
        content: '';
        border-radius: 1px;
        transition: all 500ms ease-in-out;
    }

    span:before {
        position: absolute;
        top: -10px;
    }

    span:after {
        position: absolute;
        bottom: -10px;
    }
}

// Вид гамбургера изменяется добавлением модификатора active
.top-header__hamburger--active {

    span {
        background-color: transparent;
        transition-delay: 250ms;
    }

    span:before,
    span:after {
        top: 0;
        right: 0;
        width: 30px;
    }

    span:before {
        transform: rotate(45deg);
    }

    span:after {
        transform: rotate(-45deg);
    }
}
    
.main-nav {
    display: none;
    position: absolute;
    top: 70px;
    width: 100%;
    min-height: 256px;
    text-align: center;
    list-style: none;
    
    &__list {
        margin: 0;
        padding: 0;
    }
        
    li {
        padding: 18px 0 16px 0;
        border-top: 1px solid @grey-blue;
        border-bottom: 1px solid @black-blue;
        font-weight: bold;
        font-size: @font-size-base + .4;
        line-height: @line-height-base + .8;
        text-transform: uppercase;
        background-color: @navi;
    }
}
    
.intro {
    padding-top: 90px;
    background: url("../img/bg-intro.jpg") 50% top;
    
    &__wrap {
        .wrapper;
        text-align: center;
    }
    
    &__text {
        color: @white;
        font-size: @font-size-base + 1;
        font-weight: 300;
    }
    
    &__image {
        height: 320px;
        background: url("../img/TEMP-hand_with_iphone.png") center bottom no-repeat;
    }
}

@media(min-width: 700px) and (max-width: 1200px) {
    
    .top-header__logo {
        
        &-image {
            display: inline-block;
            width: 59px;
            height: 40px;
            background: url("../img/logo__header.png");
        }
    }
    
    .top-header__wrap {
        min-height: 110px;
    }
    
    .main-nav {
        top: 110px;
    }
    
    .intro {
        min-height: 530px;
        padding-top: 200px;

        &__wrap {
            width: 26%;
            padding: 0 15%;
            text-align: center;
        }

        &__text {
            font-size: @font-size-base + 2.6;
            line-height: @line-height-base + 2.6;
        }

        &__image {
            position: absolute;
            right: 6%;
            bottom: 0;
            width: 67%;
            height: 545px;
            background: url("../img/TEMP-hand_with_iphone-700.png") center bottom no-repeat; 
        }
    }
}