.price {
    position: relative;
    min-height: 320px;
    padding-top: 93px;
    padding-bottom: 46px;
    background: @grey-f2;
    overflow: hidden;
    
    &:before {
        position: absolute;
        top: -15px;
        width: 320px;
        height: 31px;
        background: @white;
        content: '';
        transform: skewY(-5.6deg);
    }
    
    &__table {
        width: 270%;
        margin-left: -85%;
        border-collapse: collapse;
    }
}
    
.price__table-flag {
    position: absolute;
    top: 0;
    left: -2px;
    width: 74px;
    height: 73px;
    .hidden-text;
    background: url("../img/flag-price__table.png") no-repeat;
}

.price__table td {
    padding: 14px 0 14px 22px;
    border: 2px solid @grey-e5;
    background-color: @white;
    
    &:first-child {
        display: none;
    }
}

.price__table-header {
    position: relative;
    padding: 19px 0 22px 0;
    border: 2px solid @grey-e5;
    border-top: 0;
    color: @white;
    background-color: @navi;
    
    &:first-child {
        display: none;
    }

    span:first-child {
        display: block;
        font-size: @font-size-base + .4;
        line-height: @line-height-base + .6;
        font-weight: bold;
        text-transform: uppercase;
    }

    span:last-child {
        display: block;
        font-size: @font-size-base + 1;
        line-height: @line-height-base + .6;
        font-weight: 300;
    }
}

.price__table-data {
    display: inline-block;
    font-size: @font-size-base;
    text-transform: uppercase;
    line-height: @line-height-base + .6;
}

.option-yes {
    display: block;
    position: relative;
    float: right;
    width: 32px;
    height: 32px;
    margin-right: 18px;
    .hidden-text;
    
    &:before,
    &:after {
        position: absolute;
        height: 3px;
        background-color: @green;
        border-radius: 2px;
        content: '';
    }

    &:before {
        top: 18px;
        right: -4px;
        width: 30px;
        transform: rotate(-45deg);
    }

    &:after {
        top: 24px;
        right: 18px;
        width: 15px;
        transform: rotate(45deg);
    }
}

.option-no {
    display: block;
    position: relative;
    float: right;
    width: 29px;
    height: 27px;
    margin-right: 19px;
    .hidden-text;

    &:before,
    &:after {
        position: absolute;
        top: 12px;
        right: -3px;
        width: 35px;
        height: 3px;
        background-color: @orange;
        border-radius: 2px;
        content: '';
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}

.price__pagination {
    margin-top: 40px;
    text-align: center;
    font-size: 0;

    i {
        display: inline-block;
        width: 6px;
        height: 6px;
        margin-right: 13px;
        border: 3px solid @grey-f2;
        background-color: #bec2c7;
        cursor: pointer;
        border-radius: 50%;
    }

    i.price__pagination-active {
        border: 3px solid @navi;
        background-color: @white;
    }
}

@media(min-width: 700px) and (max-width: 1200px) {
    
    .price__wrap {
        .wrapper;
    }
    
    .price__table {
        width: 100%;
        margin-left: 0;
    
        td {
            width: 25%;
            padding: 10px 15px;
            text-align: center;

            &:first-child {
                display: table-cell;
                text-align: left;
            }
        }

        &-data {
            display: none;
        }
    }
    
    .price__table-header {
        
        &:first-child {
            display: table-cell;
            background: none;
            border: none;
        }

        span {
        
            &:first-child {
                font-size: @font-size-base + .2;
            }

            &:last-child {
                font-size: @font-size-base + .4;
            }
        }
    }

    .option-yes,
    .option-no {
        display: inline-block;
        float: none;
        margin: 0;
    }

    .price__pagination {
        display: none;
    }
}