.reviews-slider {
    min-width: 320px;
    padding-top: 43px;
    font-size: 0;
    
    &__wrap {
        overflow: hidden;
        margin: 0 auto;
    }
    
    &__container {
        width: 300%;
    }
}
    
.reviews-slider__item {
    display: inline-block;
    width: 33%;
    text-align: center;

    &-wrap {
        .wrapper;
    }

    span {
        font-size: @font-size-base + .4;
        line-height: @line-height-base + .6;
        font-weight: bold;
    }

    blockquote {
        margin: 0;
        margin-top: 13px;
        font-size: @font-size-base;
        line-height: @line-height-base + .6;
    }
}

.reviews-slider__pagination {
    margin-top: 33px;
    margin-bottom: 44px;
    text-align: center;
    font-size: 0;

    i {
        display: inline-block;
        width: 6px;
        height: 6px;
        margin-right: 13px;
        border: 3px solid @white;
        background-color: #bec2c7;
        cursor: pointer;
        border-radius: 50%;
    }

    i.reviews-slider__pagination-active {
        border: 3px solid @navi;
        background-color: @white;
    }
}