.reviews-slider {
    min-width: 320px;
    padding: 40px 0 15px 0;
    
    &__wrap {
        overflow: hidden;
    }
    
    &__container {
        width: 300%;
        display: flex;
    }
}
    
.reviews-slider__item {
    text-align: center;

    &-wrap {
        .wrapper;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-header {
        font-size: @font-size-base + .4;
        line-height: @line-height-base + .6;
        font-weight: bold;
    }
    
    &-subheader {
        display: none;
    }

    blockquote {
        margin: 0;
        margin-top: 13px;
        font-size: @font-size-base;
        line-height: @line-height-base + .6;
    }
    
    &-image {
        display: none;
    }
}

.reviews-slider__pagination {
    margin-top: 33px;
    text-align: center;
    font-size: 0;

    i {
        display: inline-block;
        width: 6px;
        height: 6px;
        margin-right: 13px;
        border: 3px solid @white;
        background-color: #bec2c7;
        cursor: pointer;
        border-radius: 50%;
        
        &:hover {
            background-color: #7e868f;
        }
        
        &:active {
            background-color: @grey-light;
        }
    }

    i.reviews-slider__pagination-active {
        border: 3px solid @navi;
        background-color: @white;
    }
}

@media(min-width: 700px) and (max-width: 1200px) {

    .reviews-slider__item {
        
        &-header {
            font-size: @font-size-base + .6;
            order: 2;
        }

        &-subheader {
            display: block;
            line-height: @line-height-base + .6;
            order: 3;
        }

        blockquote {
            margin: 0;
            margin-bottom: 40px;
            font-size: @font-size-base + .4;
            order: 1;
        }
    }
}

@media(min-width: 1200px) {
    
    .reviews-slider__item {
        position: relative;
        
        &-wrap {
            padding: 0 22%;
        }
        
        &-header {
            font-size: @font-size-base + 1;
            order: 3;
        }

        &-subheader {
            display: block;
            font-size: @font-size-base + .4;
            line-height: @line-height-base + .6;
            order: 4;
        }

        blockquote {
            margin: 0;
            margin-bottom: 40px;
            font-size: @font-size-base + .4;
            order: 2;
        }
        
        &-image {
            display: block;
            margin-top: 30px;
            margin-bottom: 55px;
            order: 1;
            fill: @grey-ef;
        }
        
        &:before,
        &:after {
            position: absolute;
            top: 50%;
            width: 28px;
            height: 28px;
            border-left: 2px solid @grey-dark;
            border-bottom: 2px solid @grey-dark;
            content: '';
            cursor: pointer;
        }
        
        &:before {
            top: 50%;
            left: 11%;
            transform: rotate(45deg);
        }
        
        &:after {
            right: 11%;
            transform: rotate(-135deg);
        }
    }
    
    .reviews-slider__pagination {
        display: none;
    }
    
}